.logo_bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 22px 28.48px 3.52px rgba(0, 0, 0, 0.09);
    width: 138px;
    height: 135px;
}

/* .h1 {
    font-size: 60px;
    font-family: "Sacramento";
    color: rgb(53, 53, 53);
    line-height: 0.217;
    text-align: left;
} */
/* .body {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(134, 133, 133);
    line-height: 1.75;
    text-align: left;
} */
.h2 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(0, 174, 239);
    line-height: 0.722;
    text-align: left;
}
.form_input {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 22px 28.48px 3.52px rgba(0, 0, 0, 0.09);
    width: 246px;
    height: 45px;
}
.form_text {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(172, 172, 172);
    line-height: 3.421;
    text-align: left;
}

.button {
    background-color: rgb(241, 78, 149);
    box-shadow: 0px 22px 28.48px 3.52px rgba(0, 0, 0, 0.09);
    width: 505px;
    height: 47px;
}
.button_text {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
}
