* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("/bg.jpg"), url("/heart-bg.png");
    background-size: cover;
    repeat: no-repeat, no-repeat;
    background-position: center, top left;
}

.myChatDiv {
    border: 2px orange solid;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.singleMessage {
    border: 1px black solid;
}

.chatArea {
    width: 500px;
    height: 300px;
    overflow: scroll;
}

.chatImage {
    width: 50px;
    height: 50px;
}

.home {
    border: 2px blue solid;
}

.navBar {
    border: 2px yellow solid;
    margin-top: 0;
}

.logo_bg {
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 22px 28.48px 3.52px rgba(0, 0, 0, 0.07); */
    width: 138px;
    height: 135px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px blue solid; */
}

#form {
    padding-left: 50px;
    width: 700px;
    height: 700px;
    overflow: hidden;
}

.welcome {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 60px;
    font-family: "Sacramento", cursive;
    color: rgb(53, 53, 53);
    line-height: 0.217;
    text-align: left;
}

.reg_body,
.login_body {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(134, 133, 133);
    line-height: 1.75;
    text-align: left;
    padding-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(0, 174, 239);
    line-height: 0.722;
    text-align: left;
    padding-bottom: 20px;
}

.reg_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#invitation_code {
    width: 505px;
}

input {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.09);
    width: 246px;
    height: 45px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-indent: 5px;
}

.form_text {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(172, 172, 172);
    line-height: 3.421;
    text-align: left;
}

.pleaseRegister {
    padding-top: 10px;
    font-size: 30px;
}

#signUp,
#logIn {
    background-color: rgb(241, 78, 149);
    box-shadow: rgba(0, 0, 0, 0.09);
    width: 505px;
    height: 47px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    text-indent: 5px;
    margin-bottom: 10px;
}

a,
.logoutButton {
    color: rgb(0, 174, 239);
    border: transparent;
    text-decoration: underline;
    font-size: 16px;
    background-color: transparent;
    font-family: "Roboto";
}
.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    margin-top: 50px;
    right: 50px;
    border: 2px red solid;
}

#profileImage img {
    position: absolute;
    top: 200px;
    left: 50px;
    border: 2px yellow solid;
}

/* .uploader1 {
    border: 2px green solid;
} */

.error {
    width: 500px;
    height: 50px;
    padding-top: 50px;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(0, 174, 239);
    line-height: 0.722;
    text-align: left;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
}

.modal,
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0, 0, 0, 0.85);
}

.modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    width: 520px; /* This just a default width */
}

#upload {
    background-color: rgb(241, 78, 149);
    box-shadow: rgba(0, 0, 0, 0.09);
    width: 400px;
    height: 47px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    text-indent: 5px;
    margin-bottom: 10px;
}

.closeModal,
.uploadImage {
    background-color: rgb(241, 78, 149);
    box-shadow: rgba(0, 0, 0, 0.09);
    width: 400px;
    height: 47px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    text-indent: 5px;
    margin-bottom: 10px;
}

.modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 40px;
    text-align: center;
}

.modal .modal_content .buttons_wrapper {
    padding: 20px;
}

.modal .uploadimage .closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
    padding: 2px;
}

.modal .uploadImage:hover {
    opacity: 0.9;
}

.bioAdd,
.bioEditor {
    position: absolute;
    top: 300px;
    left: 300px;
    border: 2px red solid;
}

#entireMirror {
    border: 2px black solid;
    width: 458px;
    height: 458px;
}

#box {
    display: inline-block;
    background: url("https://cloud.githubusercontent.com/assets/4652816/12771954/41dccb10-ca68-11e5-9db8-a473f51426c8.jpg");
    background-size: cover;
    margin-left: 100px;
}

#canvas {
    background: transparent;
    border: 2px green solid;
    margin-left: 100px;
}

#friends img {
    width: 200px;
    height: 200px;
}
